# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Rr]ecordings/
[Uu]serSettings/

# Visual Studio / Rider
.vs/
.idea/
*.suo
*.user
*.userprefs
*.sln.docstates
*.csproj.user